body, input {
    font-family: "MapleMono", monospace;
    src: url(MapleMono-SC-NF-Regular.ttf);
}

pre, code, kbd {
    font-family: "MapleMono", monospace;
    src: url(MapleMono-SC-NF-Regular.ttf);
}