body, input {
    font-family: "MapleMono", monospace;
    src: url("../stylesheets/MapleMono-Regular.woff2") format("woff2");
}

pre, code, kbd {
    font-family: "MapleMono", monospace;
    src: url("../stylesheets/MapleMono-Regular.woff2") format("woff2");
}
